<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.appserver.group.UserGroupMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into usergroup (group_name,num_of_member)
        values (#{group_name}, #{num_of_member})
    </insert>

    <update id="update">
        update usergroup
        set group_name=#{updateParam.groupName},
            num_of_member=#{updateParam.numOfMember}
        where id = #{id}
    </update>

    <select id="findById" resultType="UserGroup">
        select id, group_name, num_of_member
        from usergroup
        where id = #{id}
    </select>

    <select id="findAll" resultType="UserGroup">
        select id, group_name, num_of_member
        from usergroup
        <where>
            <if test="groupName != null and groupName != ''">
                and group_name like concat('%',#{groupName},'%')
            </if>
        </where>
    </select>

    <delete id="delete">
        delete from usergroup
        where id = #{id}
    </delete>


</mapper>